apiVersion: v1
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 80;
        server_name localhost;

        location / {
          root /usr/share/nginx/html;
          index index.html;

          auth_basic "Restricted Access";
          auth_basic_user_file /etc/nginx/auth/auth;
        }
      }
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: dev-nginx-config
  namespace: dev-web
