apiVersion: v1
kind: ConfigMap
metadata:
  name: dev-nginx-config
  namespace: dev-web
data:
  default.conf: |
    server {
        listen 80;
        server_name localhost;

        location / {
            root /usr/share/nginx/html;
            index index.html;
            
            auth_basic "Restricted Access";
            auth_basic_user_file /etc/nginx/auth/auth;
        }
    }
